.form-container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.createAccount {
    margin-top: 5%;
}